show_status_bar = 1
show_document_name_in_statusbar = 1
show_closest_bookmark_in_statusbar = 1

rerender_overview = 1
overview_size 0.85 0.6

smooth_scroll_speed 20
smooth_scroll_drag 2300

super_fast_search = 1
case_sensitive_search = 0

ruler_mode 1
ruler_padding 1.5
ruler_x_padding 8.0

default_dark_mode = 0
# dark_mode_contrast 0.7
# custom_background_color 0.18 0.20 0.25
# custom_text_color 1.0 1.0 1.0

font_size 14
multiline_menus = 1

move_screen_ratio 0.9
touchpad_sensitivity 0.1
wheel_zoom_on_cursor = 1

flat_toc = 1
collapsed_toc = 1
create_table_of_contents_if_not_exists = 1
max_created_toc_size 5000

prerender_page_count = 6
should_draw_unrendered_pages = 1

page_separator_width 2
page_separator_color 0.5 0.5 0.5

status_bar_color 0 0 0
status_bar_text_color 1 1 1
status_bar_font_size 12

startup_commands toggle_status_bar;toggle_smooth_scroll_mode
